*
{
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0d1b37;
    display: table;
}

header {
    background-color: #2a537f;
    display: table-row;
    color: white;
    width: 100%;
    height: 150px;
    text-align: center;
    border-radius: 5px;
}

header h1 {
    font-size: 2em;
    margin-top: 1.0em;
}

header p {
    font-size: 0.5em;
}


#main {
    background-color: #2a537f;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

#main ul {
    list-style-type: none;
    padding: 0;
    margin: 2em 0;
    text-align: start;
}

#main ul li button {
    font-size: 1em;
    margin: 0.5em;
    padding: 0.5em 1em;
    box-shadow: 5px 3px 3px #19324c;
    cursor: pointer;
}

#main #result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 2em 0;
}

#main .dimension {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 1em 0;
    word-wrap: break-word;
}

.desc {
    font-size: 1em;
    margin: 1em;
}

.bar {
    background-color: #7991a9;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 50px;
    float: left;
    border-radius: 5px;
    position: relative;
}

.bar .progress {
    background-color: #23d63e;
    height: 100%;
    border-radius: 5px;
}

#chart {
    max-width: 550px;
    max-height: 550px;
    width: 100%;
    height: 100%;
    margin: auto;
    color: white;
}


@media screen and (max-width: 650px) {
    #main {
        width: 100%;
    }
}